body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    display: flex;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #1F1F1F;
    padding-top: 20px;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.sidebar .logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #333333;
}

.sidebar .social-icons {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.sidebar .social-icons a {
    margin: 0 10px 20px;
}

.sidebar .social-icons img {
    width: 36px;
    height: 36px;
}

main {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
}

section {
    padding: 20px;
    border-bottom: 1px solid #333;
}

h1 {
    color: #BB86FC;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

/* Styles des cartes */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: transparent;
    width: calc(80% - 10px); /* Largeur calculée pour chaque carte */
    perspective: 6000px;
    height: 30vh;
    margin-bottom: 35%;
}

.card-inner {
    position: relative;
    width: 100%;
    padding-top: 60%;

    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.card:hover .card-inner,
.card-inner.flipped {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-front {
    background-color: #1F1F1F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-front img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.card-back {
    background-color: #1F1F1F;
    color: #FFFFFF;
    transform: rotateY(180deg);
    padding: 20px;
    box-sizing: border-box;
}

.card-back h2 {
    margin-top: 0;
    color: #BB86FC;
}

.card-back p {
    font-size: 16px;
    line-height: 1.4;
}

/* Styles pour la section "about" */
#about h1 {
    color: #BB86FC;
    margin-bottom: 20px;
}

#about p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 40px;
}

/* Styles pour la section "skills" */
#skills h1 {
    color: #BB86FC;
    margin-bottom: 20px;
}

.skill {
    margin-bottom: 20px;
}

.skill p {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #FFFFFF;
}

.skill-bar {
    background-color: #333333;
    border-radius: 5px;
    overflow: hidden;
}

.skill-level {
    background: linear-gradient(to right, #FFFFFF, #888888);
    height: 20px;
    border-radius: 5px 0 0 5px;
    width: 0;
    animation: loadSkill 2s forwards;
}

/* Animation pour les barres de compétence */
@keyframes loadSkill {
    from {
        width: 0;
    }
    to {
        width: var(--skill-width);
    }
}

/* Styles pour la section CV */
#cv h1 {
    color: #BB86FC;
    margin-bottom: 20px;
}

.CV {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.cv-image {
    border-radius: 10px; /* Arrondir les bords de l'image */
    max-width: 100%; /* Assure que l'image ne dépasse pas la largeur de son conteneur */
    height: 50%;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajouter une ombre pour un effet 3D */
}

.download-cv {
    text-align: center;
    margin-top: 20px;
}

.download-cv a {
    background-color: #BB86FC;
    color: #FFFFFF;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-cv a:hover {
    background-color: #9A67EA;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.2);
}

#LinkSC {
    color: #FFFFFF;
}